GOOGLE_SCOPES=https://spreadsheets.google.com/feeds,https://www.googleapis.com/auth/spreadsheets,https://www.googleapis.com/auth/drive.file,https://www.googleapis.com/auth/drive
SERVICE_KEY_FILE =./service_key.json
GOOGLE_API_KEY=YOUR_GOOGLE_API_KEY
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET
GOOGLE_URL=https://www.googleapis.com/auth/spreadsheets
GOOGLE_SHEET_ID=YOUR_GOOGLE_SHEET_ID
GOOGLE_SHEET_NAME=YOUR_GOOGLE_SHEET_NAME