[submodule "lib/googlepy"]
	path = lib/googlepy
	url = git@github.com:ThanuMahee12/python-google-services.git
[submodule "tests"]
	path = tests
	url = git@github.com:python-google-tools/tests-python-google-services.git
